rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isSignedIn() && (
        exists(/databases/$(database)/documents/admins/$(request.auth.uid)) || 
        request.auth.token.email == "helloimarafat@gmail.com" ||
        request.auth.token.email == "azad@fxstudioazad.com" ||
        request.auth.token.email.matches(".*@fxstudioazad[.]com")
      );
    }

    function incoming() {
      return request.resource.data;
    }

    // Validation Functions
    function isValidProfile(data) {
      return true;
    }

    function isValidVideo(data) {
      return true;
    }

    function isValidAdmin(data) {
      return true;
    }

    function isValidSocialLink(data) {
      return true;
    }

    function isValidService(data) {
      return true;
    }

    function isValidPackage(data) {
      return true;
    }

    function isValidConfig(data) {
      return true;
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Config Document
    match /config/{documentId} {
      allow read: if true;
      allow create: if isAdmin() && isValidConfig(incoming());
      allow update: if isAdmin() && isValidConfig(incoming());
      allow delete: if isAdmin();
    }

    // Admins Collection
    match /admins/{userId} {
      allow read: if isAdmin();
      allow create: if isAdmin() && isValidAdmin(incoming());
      allow update: if false; // email shouldn't change
      allow delete: if isAdmin();
    }

    // Profile Document
    match /profile/{documentId} {
      allow read: if true;
      
      // Only admins can write
      allow create: if isAdmin() && isValidProfile(incoming());
      allow update: if isAdmin() && isValidProfile(incoming());
      allow delete: if isAdmin();
    }

    // Videos Collection
    match /videos/{videoId} {
      // Anyone can see videos
      allow read: if true;
      
      // Only admins can write
      allow create: if isAdmin() && isValidVideo(incoming());
      allow update: if isAdmin() && isValidVideo(incoming());
      allow delete: if isAdmin();
    }

    match /socialLinks/{linkId} {
      allow read: if true;
      allow create: if isAdmin() && isValidSocialLink(incoming());
      allow update: if isAdmin() && isValidSocialLink(incoming());
      allow delete: if isAdmin();
    }

    match /services/{serviceId} {
      allow read: if true;
      allow create: if isAdmin() && isValidService(incoming());
      allow update: if isAdmin() && isValidService(incoming());
      allow delete: if isAdmin();
    }

    match /packages/{packageId} {
      allow read: if true;
      allow create: if isAdmin() && isValidPackage(incoming());
      allow update: if isAdmin() && isValidPackage(incoming());
      allow delete: if isAdmin();
    }
  }
}
